body {
    background-image: url("https://github.com/Saranya2024/rock-paper-scissors-boilerplate/blob/main/assets/bg.png?raw=true");
    background-repeat: no-repeat;
    font-family: Poppins, sans-serif;
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: 54px;
    color: rgb(90, 37, 192);
}
#Image {
    width: 100px;
    margin-left: 75px;
}
#Play {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}
#button {
    width: 24px;
    margin-right: 15px;
}
#Text {
    color: white;
    font-size: 27px;
    font-weight: bold;
    margin-right: 100px;
}
